<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,63},{46,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{46,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,63},{68,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{68,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{92,45}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,63},{80,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{80,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,65},{80,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{80,55}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{90,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{90,45}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{92,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{92,51}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{84,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{84,53}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{84,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{84,53}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,45},{82,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{82,45}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{90,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{90,47}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,49},{68,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{68,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{86,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{86,55}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{96,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{96,43}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,49},{72,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{72,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{78,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{78,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,55},{80,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{80,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,57},{60,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{90,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{90,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,63},{58,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{58,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,51},{66,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{66,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,65},{78,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{78,55}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{92,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{92,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,63},{86,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{86,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{94,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{94,41}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,63},{78,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{78,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,63},{82,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{82,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{90,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{90,51}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,57},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{58,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,57},{90,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{90,35}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{86,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{86,53}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{62,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{62,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,63},{92,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{92,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,63},{88,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{88,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{94,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,63},{56,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{56,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{92,61}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{88,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{88,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{88,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{88,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{88,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{88,59}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>build_action_fix.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,63},{68,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{68,57}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build.pvr.ccz</string>
            <key>size</key>
            <string>{1710,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e6813a6914ffcce7adb8c3446c441a8:1/1$</string>
            <key>textureFileName</key>
            <string>build.png</string>
        </dict>
    </dict>
</plist>
