<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,234},{68,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,32},{68,166}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{360,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,17},{360,194}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,588},{408,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{408,184}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,396},{412,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,17},{412,190}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,774},{160,166}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,31},{160,166}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{264,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,31},{264,166}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,420},{218,192}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,17},{218,192}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,774},{338,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,27},{338,188}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,614},{348,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,15},{348,196}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{400,202}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,9},{400,202}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,396},{412,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,17},{412,190}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,206},{386,188}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,20},{386,188}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>monster_dig_mid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>ending_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{428,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{428,184}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dig_monster.pvr.ccz</string>
            <key>size</key>
            <string>{932,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2840c26da55941182090b660fd0e04cc:1/1$</string>
            <key>textureFileName</key>
            <string>dig_monster.pvr.ccz</string>
        </dict>
    </dict>
</plist>
