<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gate_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,92}</string>
                <key>spriteSourceSize</key>
                <string>{189,94}</string>
                <key>textureRect</key>
                <string>{{535,843},{185,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,840}</string>
                <key>spriteSourceSize</key>
                <string>{596,840}</string>
                <key>textureRect</key>
                <string>{{1,1},{596,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_10_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,83}</string>
                <key>textureRect</key>
                <string>{{753,1156},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{135,173}</string>
                <key>spriteSourceSize</key>
                <string>{135,177}</string>
                <key>textureRect</key>
                <string>{{333,1018},{135,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,173}</string>
                <key>spriteSourceSize</key>
                <string>{200,177}</string>
                <key>textureRect</key>
                <string>{{333,843},{200,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_11_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,155}</string>
                <key>spriteSourceSize</key>
                <string>{321,155}</string>
                <key>textureRect</key>
                <string>{{599,1},{321,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,155}</string>
                <key>spriteSourceSize</key>
                <string>{321,155}</string>
                <key>textureRect</key>
                <string>{{1,1022},{321,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,155}</string>
                <key>spriteSourceSize</key>
                <string>{321,155}</string>
                <key>textureRect</key>
                <string>{{599,158},{321,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_12_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,93}</string>
                <key>spriteSourceSize</key>
                <string>{149,93}</string>
                <key>textureRect</key>
                <string>{{638,1025},{149,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_13_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,75}</string>
                <key>spriteSourceSize</key>
                <string>{228,75}</string>
                <key>textureRect</key>
                <string>{{711,586},{228,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_14_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,64}</string>
                <key>spriteSourceSize</key>
                <string>{159,64}</string>
                <key>textureRect</key>
                <string>{{830,995},{159,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_15_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,75}</string>
                <key>textureRect</key>
                <string>{{680,1176},{103,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_16_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,150}</string>
                <key>spriteSourceSize</key>
                <string>{55,150}</string>
                <key>textureRect</key>
                <string>{{896,995},{55,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_16_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,166}</string>
                <key>spriteSourceSize</key>
                <string>{71,166}</string>
                <key>textureRect</key>
                <string>{{885,688},{71,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_17_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{268,123}</string>
                <key>spriteSourceSize</key>
                <string>{290,133}</string>
                <key>textureRect</key>
                <string>{{1,1179},{268,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_18_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{855,1156},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_19_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,177}</string>
                <key>spriteSourceSize</key>
                <string>{330,177}</string>
                <key>textureRect</key>
                <string>{{1,843},{330,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,161}</string>
                <key>spriteSourceSize</key>
                <string>{95,161}</string>
                <key>textureRect</key>
                <string>{{733,993},{95,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,169}</string>
                <key>spriteSourceSize</key>
                <string>{85,169}</string>
                <key>textureRect</key>
                <string>{{871,517},{85,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,192}</string>
                <key>spriteSourceSize</key>
                <string>{110,192}</string>
                <key>textureRect</key>
                <string>{{599,639},{110,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_20_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,95}</string>
                <key>spriteSourceSize</key>
                <string>{69,95}</string>
                <key>textureRect</key>
                <string>{{788,745},{69,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,80}</string>
                <key>spriteSourceSize</key>
                <string>{269,80}</string>
                <key>textureRect</key>
                <string>{{703,315},{269,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,102}</string>
                <key>spriteSourceSize</key>
                <string>{322,102}</string>
                <key>textureRect</key>
                <string>{{599,315},{322,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{842,1239},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{87,76}</string>
                <key>textureRect</key>
                <string>{{753,1239},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,65}</string>
                <key>textureRect</key>
                <string>{{843,856},{113,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,80}</string>
                <key>spriteSourceSize</key>
                <string>{190,80}</string>
                <key>textureRect</key>
                <string>{{629,833},{190,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,81}</string>
                <key>spriteSourceSize</key>
                <string>{226,83}</string>
                <key>textureRect</key>
                <string>{{788,517},{226,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,96}</string>
                <key>spriteSourceSize</key>
                <string>{101,96}</string>
                <key>textureRect</key>
                <string>{{503,1157},{101,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,90}</string>
                <key>spriteSourceSize</key>
                <string>{125,90}</string>
                <key>textureRect</key>
                <string>{{271,1179},{125,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_start_build_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,125}</string>
                <key>textureRect</key>
                <string>{{508,1030},{128,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_7_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,70}</string>
                <key>spriteSourceSize</key>
                <string>{105,70}</string>
                <key>textureRect</key>
                <string>{{843,923},{105,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{363,1155},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,139}</string>
                <key>spriteSourceSize</key>
                <string>{72,139}</string>
                <key>textureRect</key>
                <string>{{606,1176},{72,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{711,816},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_start_build_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,200}</string>
                <key>spriteSourceSize</key>
                <string>{129,200}</string>
                <key>textureRect</key>
                <string>{{785,315},{129,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{957,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4349d20dbd90dd98b8a21e2fbeb4cae5:72613dc73d5796195c0b47f7ade49531:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
