<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad_site.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dig_item_1103094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{288,218}</string>
                <key>spriteSourceSize</key>
                <string>{382,232}</string>
                <key>textureRect</key>
                <string>{{1289,1},{288,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dig_item_1107052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,159}</string>
                <key>spriteSourceSize</key>
                <string>{248,169}</string>
                <key>textureRect</key>
                <string>{{1289,291},{244,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1107052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1751,137},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_virus_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{1535,386},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_virus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{1599,386},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_water_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{1751,1},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_water_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{1751,69},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconstart_build_17_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{268,123}</string>
                <key>spriteSourceSize</key>
                <string>{290,133}</string>
                <key>textureRect</key>
                <string>{{1535,261},{268,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1751,207},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1663,386},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1663,440},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_dig_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{240,252}</string>
                <key>spriteSourceSize</key>
                <string>{446,264}</string>
                <key>textureRect</key>
                <string>{{1509,1},{240,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1751,428},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1717,386},{40,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>site_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1709,440},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1289,452},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_666.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1333,452},{30,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>site_dig_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,233},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{529,1},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{529,233},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stealPrompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,230}</string>
                <key>spriteSourceSize</key>
                <string>{480,230}</string>
                <key>textureRect</key>
                <string>{{1057,1},{480,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.pvr.ccz</string>
            <key>size</key>
            <string>{1804,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22454489b4e95c0fb3c458dbb8fe0b4b:4f6ca6d72344c248035cada8b2f63d3e:b90d2237a64a04ee4a3b28e0d742cbc9$</string>
            <key>textureFileName</key>
            <string>new.pvr.ccz</string>
        </dict>
    </dict>
</plist>
