<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad_site.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconstart_build_17_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{270,123}</string>
                <key>spriteSourceSize</key>
                <string>{290,133}</string>
                <key>textureRect</key>
                <string>{{1057,233},{270,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1057,358},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1111,358},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1165,358},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_dig_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{240,252}</string>
                <key>spriteSourceSize</key>
                <string>{446,264}</string>
                <key>textureRect</key>
                <string>{{1329,233},{240,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>site202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1257,398},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1255,358},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1213,358},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1213,400},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_666.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1165,404},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{529,1},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1057,1},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,233},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stealPrompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{529,233},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.pvr.ccz</string>
            <key>size</key>
            <string>{1584,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6f0c6450df90a14177f5d0bae6178f:72edaf9cad34ef63591d50af63ad7921:b90d2237a64a04ee4a3b28e0d742cbc9$</string>
            <key>textureFileName</key>
            <string>new.pvr.ccz</string>
        </dict>
    </dict>
</plist>
