<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad_site.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dig_item_1102073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{382,232}</string>
                <key>textureRect</key>
                <string>{{761,291},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dig_item_1103094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{288,218}</string>
                <key>spriteSourceSize</key>
                <string>{382,232}</string>
                <key>textureRect</key>
                <string>{{761,1},{288,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dig_item_1107052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,159}</string>
                <key>spriteSourceSize</key>
                <string>{248,169}</string>
                <key>textureRect</key>
                <string>{{781,501},{244,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dig_item_1301091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,232}</string>
                <key>spriteSourceSize</key>
                <string>{382,232}</string>
                <key>textureRect</key>
                <string>{{1,697},{382,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dig_item_1305075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,220}</string>
                <key>spriteSourceSize</key>
                <string>{376,232}</string>
                <key>textureRect</key>
                <string>{{529,529},{250,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1102073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{764,751},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1107052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{902,747},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_item_1301091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{764,821},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_gas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{193,931},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_oil_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{834,879},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_oil_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{832,923},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_tab_1301091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{942,501},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_tab_content_1301091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,45}</string>
                <key>spriteSourceSize</key>
                <string>{190,45}</string>
                <key>textureRect</key>
                <string>{{1,931},{190,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_virus_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{764,891},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_virus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{834,747},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_water_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{261,931},{51,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_water_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{834,811},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconstart_build_17_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{268,123}</string>
                <key>spriteSourceSize</key>
                <string>{290,133}</string>
                <key>textureRect</key>
                <string>{{385,697},{268,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{329,931},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{887,817},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{887,871},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_dig_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{240,252}</string>
                <key>spriteSourceSize</key>
                <string>{446,264}</string>
                <key>textureRect</key>
                <string>{{510,751},{240,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>site202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{941,859},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{941,817},{40,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>site_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{935,899},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{764,955},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_666.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{942,597},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,233},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{1,465},{526,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>site_dig_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,230}</string>
                <key>spriteSourceSize</key>
                <string>{526,230}</string>
                <key>textureRect</key>
                <string>{{529,1},{526,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.pvr.ccz</string>
            <key>size</key>
            <string>{980,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e522870d1c9233aef5af98962aa000ee:ccc24b0e75cdcfd1593d14aa02803641:b90d2237a64a04ee4a3b28e0d742cbc9$</string>
            <key>textureFileName</key>
            <string>new.pvr.ccz</string>
        </dict>
    </dict>
</plist>
