<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_21_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{205,447},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,35}</string>
                <key>spriteSourceSize</key>
                <string>{90,35}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build_action_12_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{93,38},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_unable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{139,434},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogFood_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{185,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogFood_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{183,71},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogFood_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,73},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogInjury_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{71,339},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_dogInjury_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,383},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_dogInjury_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{87,97},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogMood_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,315},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogMood_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{141,309},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dogMood_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,159},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1101081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{141,377},{66,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1102073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,245},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1106014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{69,461},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1107052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,309},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_item_1305011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{71,407},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_item_1305075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{71,269},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_virus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{87,183},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_water_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{209,379},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_water_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{1,451},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_water_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_basic_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{173,141},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bullet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{173,225},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new_temp.png</string>
            <key>size</key>
            <string>{256,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f410060e39183e56dc992a9d7c20f1d:1d353153e1aae37042b7514f9bda39e4:7949fdcbefe21226f7379e19e9bd5ccd$</string>
            <key>textureFileName</key>
            <string>new_temp.png</string>
        </dict>
    </dict>
</plist>
