<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sub_site_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,802},{218,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,88}}</string>
                <key>sourceSize</key>
                <string>{218,88}</string>
            </dict>
            <key>boss_sub_site_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1184},{112,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{112,151}</string>
            </dict>
            <key>boss_sub_site_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1184},{121,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,153}}</string>
                <key>sourceSize</key>
                <string>{121,153}</string>
            </dict>
            <key>boss_sub_site_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,2},{141,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,216}}</string>
                <key>sourceSize</key>
                <string>{141,216}</string>
            </dict>
            <key>boss_sub_site_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1255},{169,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,186}}</string>
                <key>sourceSize</key>
                <string>{169,186}</string>
            </dict>
            <key>boss_sub_site_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{286,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,121}}</string>
                <key>sourceSize</key>
                <string>{286,121}</string>
            </dict>
            <key>boss_sub_site_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,220},{136,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,282}}</string>
                <key>sourceSize</key>
                <string>{136,282}</string>
            </dict>
            <key>boss_sub_site_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,892},{192,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,193}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>boss_sub_site_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1087},{95,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,186}}</string>
                <key>sourceSize</key>
                <string>{95,186}</string>
            </dict>
            <key>boss_sub_site_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,930},{171,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,323}}</string>
                <key>sourceSize</key>
                <string>{171,323}</string>
            </dict>
            <key>boss_sub_site_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,530},{261,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,270}}</string>
                <key>sourceSize</key>
                <string>{261,270}</string>
            </dict>
            <key>boss_sub_site_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1308},{228,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,121}}</string>
                <key>sourceSize</key>
                <string>{228,121}</string>
            </dict>
            <key>boss_sub_site_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,504},{167,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,87}}</string>
                <key>sourceSize</key>
                <string>{167,87}</string>
            </dict>
            <key>new_site_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,840}}</string>
                <key>sourceSize</key>
                <string>{596,840}</string>
            </dict>
            <key>site_dig_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1162},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1162},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,930},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,930},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,698},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,698},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,466},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,234},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,466},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,234},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
            <key>site_dig_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{526,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,230}}</string>
                <key>sourceSize</key>
                <string>{526,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_site.pvr.ccz</string>
            <key>size</key>
            <string>{2031,1431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a23ba285a014644f5a3b3c0520c56098:1/1$</string>
            <key>textureFileName</key>
            <string>new_site.pvr.ccz</string>
        </dict>
    </dict>
</plist>
