<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,672},{26,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{26,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>npc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{36,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>npc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,672},{28,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{28,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>npc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,672},{32,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{32,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>npc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{30,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{30,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>npc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,724},{30,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{30,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>npc_dig_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{148,258}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,4},{148,258}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,764},{136,242}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,12},{136,242}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{190,252}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{190,252}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{156,244}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,7},{156,244}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,498},{170,264}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,0},{170,264}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,256},{172,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,12},{172,240}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,764},{154,244}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,10},{154,244}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>npc_dig_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,267}}</string>
                <key>sourceSize</key>
                <string>{518,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc.pvr.ccz</string>
            <key>size</key>
            <string>{463,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:602f88431a8f59b68bf517b8bce33e98:1/1$</string>
            <key>textureFileName</key>
            <string>npc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
